.topline {
  border: 10px solid;
  border-top-color: blue;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.contentalignment {
  max-width: 800px;
  margin: auto;
}

img:hover {
  transform: scale(1.3);
  z-index: 2;
}
